@page
@model mission9_jacklin5.Pages.ShopModel
@{
}

<body class="bg-dark text-white">
    <h2>Your cart</h2>

    <table class="table bg-light table-bordered table-striped">         @*View for what we want to show in our cart*@

        <thead>
            <tr>
                <th>Book</th>
                <th>Quantity</th>
                <th>Cost</th>
                <th>Subtotal</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var i in Model.cart.Items)
            {
                <tr>
                    <td>@i.Book.Title</td>                  @*Information found on each book*@
                    <td>@i.Quantity</td>
                    <td>@(i.Book.Price.ToString("c"))</td>
                    <td>@(i.Quantity * i.Book.Price)</td>
                </tr>
            }
        </tbody>

        <tfoot>
            <tr>
                <td colspan="3">Total:</td>
                <td>@Model.cart.CalculateTotal().ToString("c")</td>         @*"c" makes it look like a currency*@
            </tr>
        </tfoot>


    </table>

    <div>
        <a class="btn btn-outline-danger" href="@Model.ReturnUrl">Continue Shopping</a>     @*Way for them to return where they were shopping*@
    </div>
</body>